body {
  margin: 0;
    font-family: "Poppins", sans-serif !important;
    background-color: #f3f5f9 !important;
  -webkit-font-smoothing: antialiased !important;
  -moz-osx-font-smoothing: grayscale !important;
  box-sizing: border-box !important;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',monospace;
}
#Discussion_card{
  background: #e3f2fc;
  height: 60px;
}
#Discussion_card .discussion_heading{
  color: #5A5A5A;
}
#Member_card{
  background: #e3f2fc;
  height: 60px;
}
#Member_card .Member_card_heading{
  color: #5A5A5A;
}
#discussion_reply_list .flex.flex-row .rounded-full {
background: #e3f2fc;
color:#000;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
}  

#discussion_reply_list .flex.flex-row .bg-sky-400{
  background: #E3E3E3 !important;
  color: #000 !important;
  font-size: 15px;
  font-weight: 400;
  line-height: 23px;
  letter-spacing: 0em;
  text-align: left;
}
#discussion_reply_list .flex.flex-row-reverse .rounded-full {
background: #e3f2fc;
color:#000;
font-size: 15px;
font-weight: 400;
line-height: 23px;
letter-spacing: 0em;
text-align: left;
} 

 
#add_Workspace_modal .modal-content .modal-header{
  color: #5A5A5A;
  font-family: Poppins;
  font-size: 14px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
}

#add_Workspace_modal .modal-content .modal-body label.form-label{
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: #5A5A5A;
  letter-spacing: 0em;
  text-align: left;
}
#workspace_description , #descriptionForm{
  font-size: 14px;
  font-weight: 500;
  line-height: 28px;
  color: #5A5A5A;
  letter-spacing: 0em;
  text-align: left;
  border:1px solid #B4B4B4 !important;
  border-radius: 10px;
}
#add_Workspace_modal .modal-content .modal-body input{
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #B4B4B4;
  color: #5A5A5A;
}

#category_form.choode_cetegory{
  font-size: 14px;
  border-radius: 10px;
  border: 1px solid #B4B4B4;
  color: #5A5A5A;  
}

#task_name_details .flex.flex-col .text-base:first-child{
  font-family: Poppins;
  font-size: 16px;
  font-weight: 600;
  line-height: 28px;
  letter-spacing: 0em;
  color: #5A5A5A;
  text-align: left;
}


.style_description{
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #5A5A5A;
}

.style_tag_label{
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 28px;
  letter-spacing: 0em;
  text-align: left;
  color: #5A5A5A;
}
.row {
    --bs-gutter-x: 0 !important;
}

.single-main-section-dashboard {
    width: 100%;
}
.main-section-dashboard {
    width: 69% !important;
}
.sidebar-section-dashboard {
    width: 30% !important;
}
.p-relative {
    position: relative;
}

.bg-light {
    background-color: white !important;
}

.profile-menu-icon-col {
    display: flex;
    align-items: center;
    gap: 1rem;
}

@media (max-width: 767px) {
    .profile-menu-icon-col {
        flex-direction: column;
        align-items: flex-start;
    }
    .profile_sec {
        margin-top: 0.5rem;
    }
}

#sidebar {
    min-width: 100%;
    max-width: 100%;
    background: #fff;
    color: #fff;
    transition: all 0.3s;
    box-shadow: 4px 4px 40px rgba(0, 0, 0, 0.06);
    height: 100%;
    position: relative;
}

#sidebar.active {
    margin-left: -280px;
}

#sidebar .sidebar-header {
    padding: 20px;
    text-align: center;
}

#sidebar ul.components {
    padding: 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 18px;
    font-size: 14px;
    font-weight: 500;
    display: block;
    text-decoration: none;
    color: #717171;
    display: flex;
}

#sidebar ul li a span.menu_icon {
    margin-right: 11px;
}

#sidebar ul li a.active svg path {
    fill: white !important;
}

#sidebar ul li a:hover .iconHvr {
    fill: #fff !important;
}

#sidebar ul li a:hover {
    background: #009fdf;
    color: #fff;
}

#sidebar ul.list-unstyled li a.logout {
    margin-top: 140px;
}

#sidebar ul li a.active {
    background: #009fdf;
    color: #fff;
}

.TopBar_header_container__zsaxe{
  background: var(--white-100, #FFF) !important;
box-shadow: 0px 2px 20px 0px rgba(0, 0, 0, 0.10) !important;
}
.toggle_bt_main button{
  border: none !important;
 }
 .toggle_bt_main.btn-group{
  border: 2px solid #009FDF;
  border-radius: 12px;
  background: #fff;
}
 
 .toggle_bt_main.btn-group>.btn {
  padding: 13px 14px;
  margin: 3px;
  color: #fff;
  text-align: center;
  font-family: Poppins;
  font-size: 14px;
  font-style: normal;
  font-weight: 600;
  line-height: 91.5%;
  border-radius:8px !important;
}
.search_warp input{
    border: none;
    font-size: 15px;
    border-radius: 12px;
    color: #d4d4d4;
    outline: none;
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.search_warp input:focus {
    outline: none;
    box-shadow: none;
}
#workspace_top .taskbt {
    background: #24bb0b;
    border: none;
    padding: 12px 26px;
    font-size: 15px;
}
#workspace_top .workspacebt {
    background: #009ede;
    border: none;
    padding: 12px 26px;
    font-size: 15px;
}
.search_warp .search_bt {
    width: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #009fdf;
    border-radius: 10px;
}
.search_warp {
    width: 280px !important;
}
.search_warp .search_bt i{
  color:#fff;
}
.right_section_myworkspaces{
  background: #fff;
  border-radius: 12px !important;
  padding: 20px;
}
.right_section_myworkspaces .justify-around button.btn-outline-primary{
  background-color: #E3F2FC;
  color: #5A5A5A;
  border: none;
  padding: 10px 20px;
  border-radius: 12px;
}
.right_section_myworkspaces .justify-around button.btn-primary{
  border: none;
  background-color:#009ede;
  padding: 10px 20px;
  border-radius: 12px;
}
#task_name_details.task_name_details{
  border-radius: 10px !important;
  border: 1px solid #D4D4D4;
  background: #F3F5F9;
  color: #5A5A5ACC;
  padding:20px !important;
}
#discussion_member_display .w-full{
  border: 1px solid #009FDF;
  border-radius: 7px;
  padding: 3px !important;
}
#discussion_member_display .w-full button.btn{
  border: none;
  color: #049fe0;
  font-size: 16px !important;
}
#discussion_member_display .w-full button.btn-primary{
  padding: 15px;
  border: none;
  background-color: #009FDF;
  font-size: 16px !important;
  color: #fff;
}

#task_name_details.task_name_details {
    border-radius: 10px !important;
    border: 1px solid #d4d4d4;
    background: #f3f5f9;
}
#discussion_member_display .w-full {
    border: 1px solid #009fdf;
    border-radius: 7px;
    padding: 3px !important;
}
#discussion_member_display .w-full button.btn {
    border: none;
    color: #049fe0;
    font-size: 16px !important;
}
#taskheading.text-5xl{
  border-radius: 20px !important;
  background: #009FDF;
  font-size: 32px;
  width: var(--80, 80px);
  height: var(--80, 80px);
  flex-shrink: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media only screen and (max-width:1200px) {

  .main-section-dashboard{
    width: 100% !important;
  }
  .sidebar-section-dashboard{
    width: 100%;
    margin-top: 15px;
  }
  .sidebar-mobile-container{
    background-color: rgba(0, 0, 0, 0.06) !important;
  }

  .container, .container-fluid, .container-lg, .container-md, .container-sm, .container-xl, .container-xxl{
    --bs-gutter-x: 0;
  }

  .modal-dialog-centered{
    width: 90%;
    max-width: 90%;
  }
}

#discussion_member_display .w-full button:hover {
    background-color: #009fdf;
    color: #fff;
}
#discussion_member_display .w-full button.active {
    background-color: #049fe0 !important;
    border-color: none !important;
    color: #fff !important;
}
#discussion_member_display .w-full .btn-check:checked + .btn,
#discussion_member_display .w-full .btn.active,
#discussion_member_display .w-full .btn.show,
#discussion_member_display .w-full .btn:first-child:active,
#discussion_member_display .w-full :not(.btn-check) + .btn:active {
    color: #fff;
    background-color: #009fdf;
    border-color: var(--bs-btn-active-border-color);
}
#taskheading.text-5xl {
    border-radius: 20px !important;
    background: #009fdf;
    font-size: 32px;
    width: var(--80, 80px);
    height: var(--80, 80px);
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media only screen and (max-width: 1200px) {
    .main-section-dashboard {
        width: 100% !important;
    }
    .sidebar-section-dashboard {
        width: 100%;
        margin-top: 15px;
    }
    .sidebar-mobile-container {
        background-color: rgba(0, 0, 0, 0.06) !important;
    }

    .container,
    .container-fluid,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        --bs-gutter-x: 0;
    }

    .modal-dialog-centered {
        width: 90%;
        max-width: 90%;
    }
}

@media only screen and (max-width: 600px) {
    #sidebar {
        min-width: 80%;
        max-width: 80%;
    }
    .header-breadcrumb {
        display: none;
    }
    .profile-menu-icon-col,
    .sidebar-menu-icon-col {
        width: auto !important;
    }
}
